@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&family=Ubuntu&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background: #D7F8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 32px 24px;
    gap: 32px;
    isolation: isolate;
    position:absolute;

    width: 406px;
    height: 309px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 32px 32px 12px 12px;
    margin-top: 152px;
    margin-left: 553px;
}  
    .container img{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

position: absolute;
width: 100px;
height: 100px;
left: calc(50% - 100px/2 + 0.5px);
top: -50px;

background: #DDDDDD;
border-radius: 500px;

    }

  .c{
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;
    color: #000000;
  }

  #location {
    width: 189px;
    height: 29px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #146779;
}

.desc {
    width: 150px;
    height: 39px;
    text-transform: capitalize; 
    font-family: 'Inter';
    font-style: normal; 
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.date{
    margin-top: 475px;
    margin-left: 30px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 10px;

width: 406px;
height: 53px;

background: #FFFFFF;
border-radius: 12px;
}

#date{
    width: 179px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #146779;

}

.info{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;
margin-left: 30px;
width: 406px;
height: 118px;

border-radius: 0px 0px 32px 32px;

}

.info1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 32px;
gap: 10px;
font-family: 'Inter', sans-serif;

width: 199px;
height: 118px;

background: #FFFFFF;
border-radius: 12px;
}
.info1 h4{
    width: 85px;
    height: 29px;
    font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

}
.sunrise{
    width: 135px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;

text-align: center;

}

.info2{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 32px;
gap: 10px;
font-family: 'Inter', sans-serif;

width: 199px;
height: 118px;

background: #FFFFFF;
border-radius: 12px;
}

.info2 h4{
    width: 79px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

}

.sunset{
    width: 131px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: center;

}